<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fora</title>
    <link rel="icon" href="https://github.com/Dolsity/fora/blob/main/img/fora.png?raw=true">
    <link rel="stylesheet" href="static/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar Section -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="#home" id="navbar__logo"><img src="https://github.com/Dolsity/fora/blob/main/img/fora.png?raw=true" alt="Logo">FORA</a> 
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="#home" class="navbar__links" id="home-page">Home</a>
          </li>
          <li class="navbar__item">
            <a href="#about" class="navbar__links" id="about-page">About</a>    
          </li>
          <li class="navbar__item">
            <a href="#features" class="navbar__links" id="services-page">Features</a>
          </li>
          <li class="navbar__item">
            <a href="#support" class="navbar__links" id="signup">Support</a> 
          </li>
          <li class="navbar__btn">
            {% if not authorized %}
            <a href="/login" class="button" id="signup">Login</a> 
            {% else %}
            <a href="/dashboard" class="navbar__links" id="signup">Dashboard</a> 
            {%endif %}
          </li>
        </ul>
      </div>
    </nav>

    <!-- Hero Section -->
    <div class="hero" id="home">
      <div class="hero__container">
        <h1 class="hero__heading">Build the best
Discord Server!</h1>
        <p class="hero__description"></p>
        <button class="main__btn"><a href="https://discord.com/api/oauth2/authorize?client_id=891773139200139354&permissions=545460846583&scope=bot">Invite Fora</a></button>
      </div>
    </div>

    <!-- About Section -->
    <div class="main" id="about">
      <div class="main__container">
        <div class="main__img--container">
          <div class="main__img--card"></div>
        </div>
        <div class="main__content">
          <h1>Why Fora?</h1>
          <h2>Best Features about Fora</h2>
          <p>Fora was created with the intention of being accessible to everyone, regardless of whether if you have knowledge of discord or not. Fora has an easy-to-use prefix, a command layout, and an easy-to-access help menu. Fora commands are fun, so you'll never have a boring moment on Discord with your friends!</p>
          <p id="demo"></p>
          <button class="main__btn"><a href="https://discord.com/api/oauth2/authorize?client_id=891773139200139354&permissions=545460846583&scope=bot">Invite Fora</a></button>
        </div>
      </div>
    </div>

    <!-- Features Section -->
    <div class="features" id="features">
      <h1>Features</h1>
      <div class="features__wrapper">
        <div class="features__card">
          <h2>Custom Prefix</h2>
          <p>Customize your own servers by changing the bots prefix!</p>
          <div class="features__btn"><button>Get Started</button></div>
        </div>
        <div class="features__card">
          <h2>​Music System?</h2>
          <p>Listen to music in your guild with your friends!</p>
          <div class="features__btn"><button>Get Started</button></div>
        </div>
        <div class="features__card">
          <h2>Levels and XP</h2>
          <p>Reward the most active members of your community.</p>
          <div class="features__btn"><button>Get Started</button></div>
        </div>
        <div class="features__card">
          <h2>Database Control</h2>
          <p>Full access to your server database!</p>
          <div class="features__btn"><button>Get Started</button></div>
        </div>
      </div>
    </div>

    <!-- Support Section -->
    <div class="main" id="support">
      <div class="main__container">
        <div class="main__content">
          <h1>Need Help?</h1>
          <h2>Join our Support Server!</h2>
          <p>See what makes us different</p>
          <button class="main__btn"><a href="https://discord.com/api/oauth2/authorize?client_id=891773139200139354&permissions=545460846583&scope=bot">Support Server</a></button>
        </div>
        <div class="main__img--container">
          <iframe src="https://discord.com/widget?id=891569804899680266&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            
          </div>
        </div>
      </div>
    </div>
	    
	    <!-- Credit section -->
        <div class="credits">
        <div class="credits-inside">

            <div class="credit-header">
                <h1>Credits:</h1>
            </div>

            <div class="credit-box">
                <div class="credit-author">
                    <img src="https://media.discordapp.net/attachments/891795853096935435/936809641051041893/dolsity.png" alt=" " class="avatar-VxgULZ" alt="dolsity">
                  <h2>Dolsity</h2>
                  <p>Website Developer</p>
                  <p>Bot Developer</p>
                </div>
            </div>
          
          <div class="credit-box">
                <div class="credit-author">
                    <img src="https://cdn.discordapp.com/avatars/753869504009863275/72f041c2a9362c7d70c077d3fde518fa.png?size=256" alt="Jacksin Sins">
                  <h2>Jackson Sins</h2>
                  <p>Logo Designer</p>
                  <p>Bot Developer</p>
                </div>
            </div>

    <!-- Footer Section -->
    <div class="footer__container">
      <div class="footer__links">
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>Contact Us</h2>
            <a href="https://discord.gg/EcGbu2hKjd">Support Server</a> 
            <a href="https://www.instagram.com/dolsity/?hl=en">Instagram</a>
          </div>
        </div>
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>Social Media</h2>
            <a href="https://www.tiktok.com/@dolsity?lang=en">TikTok</a>
            <a href="https://www.instagram.com/dolsity/?hl=en">Instagram</a>
            <a href="https://www.youtube.com/channel/UCeg0bjKUXQqYlWh3xsGY5YA">Youtube</a> 
          </div>
        </div>
      </div>
      <section class="social__media">
        <div class="social__media--wrap">
          <div class="footer__logo">
            <a href="index.html" id="footer__logo">FORA</a>
          </div>
          <p class="website__rights">Fora © 2021</p>
          <div class="social__icons">
            <a href="#" class="social__icon--link" target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/dolsity/?hl=en" class="social__icon--link" 
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="https://www.youtube.com/channel/UCeg0bjKUXQqYlWh3xsGY5YA" class="social__icon--link"
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="#" class="social__icon--link"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="#" class="social__icon--link"
              ><i class="fab fa-twitter"></i
            ></a>
          </div>
        </div>
      </section>
    </div>
		    <script src="scripts/fora.js"></script>
        <script>
          const menu = document.querySelector('#mobile-menu');
        const menuLinks = document.querySelector('.navbar__menu');
        const navLogo = document.querySelector('#navbar__logo');

        // Display Mobile Menu
        const mobileMenu = () => {
          menu.classList.toggle('is-active');
          menuLinks.classList.toggle('active');
        };

        menu.addEventListener('click', mobileMenu);

        // Show active menu when scrolling
        const highlightMenu = () => {
          const elem = document.querySelector('.highlight');
          const homeMenu = document.querySelector('#home-page');
          const aboutMenu = document.querySelector('#about-page');
          const servicesMenu = document.querySelector('#services-page'); 
          const signupMenu = document.querySelector('#sign-up'); 
          let scrollPos = window.scrollY;
          // console.log(scrollPos);

          // adds 'highlight' class to my menu items
          if (window.innerWidth > 960 && scrollPos < 600) {
            homeMenu.classList.add('highlight');
            aboutMenu.classList.remove('highlight');
            return;
          } else if (window.innerWidth > 960 && scrollPos < 1400) {
            aboutMenu.classList.add('highlight');
            homeMenu.classList.remove('highlight');
            servicesMenu.classList.remove('highlight');
            return;
          } else if (window.innerWidth > 960 && scrollPos < 2345) {
            servicesMenu.classList.add('highlight');
            aboutMenu.classList.remove('highlight');
            return;
          }

          if ((elem && window.innerWIdth < 960 && scrollPos < 600) || elem) {
            elem.classList.remove('highlight');
          }
        };

        window.addEventListener('scroll', highlightMenu);
        window.addEventListener('click', highlightMenu);

        //  Close mobile Menu when clicking on a menu item
        const hideMobileMenu = () => {
          const menuBars = document.querySelector('.is-active');
          if (window.innerWidth <= 768 && menuBars) {
            menu.classList.toggle('is-active');
            menuLinks.classList.remove('active');
          }
        };

        menuLinks.addEventListener('click', hideMobileMenu);
        navLogo.addEventListener('click', hideMobileMenu);
        </script>
  </body>
</html>